<!-- <app-header></app-header> -->
<main style="margin-top: 58px;">
  <div class="faceBook-button">
    <!-- <button *ngIf="!loggedIn" (click)="logInToFB()" class="btn action-btn"> Login with Facebook </button> -->
    <!-- <button *ngIf="loggedIn" (click)="logOutOfFB()" class="btn action-btn"> Log out of Facebook </button> -->
    <div *ngIf="loggedIn">
      <img src="{{ user.response.picture.data.url }}">
      <div>
        <h4>{{ user.name }}</h4>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </div>
</main>
<app-sidebar></app-sidebar>
<!-- <app-post-management></app-post-management> -->
<!-- <app-url-instagram></app-url-instagram> -->
<!-- <app-step-by-step [facebookUserAccessToken]="facebookUserAccessToken"></app-step-by-step> -->
<router-outlet></router-outlet>